astroid			
Click			
colorama		
fastapi			
gunicorn		
h11				
isort			
lazy-object-proxy
mccabe			
pydantic		
pylint			
six				
starlette		
uvicorn			
websockets		
wrapt			
uvloop
python-multipart
chromadb
spacy
nlp = spacy.load('en_core_web_md')
